@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjord+One&display=swap');

:root {
        --cor0: #8BA9C7;
        --cor1: #7CBBFA;
        --cor2: #d4dfe9;
        --cor3: #445261;
        --cor4: #1A2633;

    --fonte-menu: 'Domine', sans-serif;
    --fonte-paragrafo: 'Fjord One', serif;
    --fonte-titulo: 'Lexend Exa', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:  var(--cor4);
    padding: 3px;
    margin: 10px;
}

header, footer {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    background-color: var(--cor3);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    min-width: 280px;
    max-width: 800px;
}

img {
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

p {
    font: 1em var(--fonte-paragrafo);
    color: var(--cor2);
    text-align: justify;
}

a {
    color: var(--cor2);
    text-decoration: none;
}

a:hover {
    color: var(--cor0);
}

a:active {
    color: var(--cor1);
    font-weight: bold;
}

.lista:hover {
    color:var(--cor0);
    text-decoration: underline;
}

.lista:active {
    color: var(--cor1);
    font-weight: bold;
}

h1 {
    /* shorthand font
            - font-style -> font-weight -> font-size -> font-family
            */
    font: bolder 2em var(--fonte-titulo);
    color: var(--cor2);
    text-align: center;
}


h2 {
    font: bolder 1.5em var(--fonte-titulo);
    color: var(--cor2); 
    text-align: center;
}

h3 {
    font: bolder 1.3em var(--fonte-titulo);
    color: var(--cor0);
/* shorthand font
            - font-style -> font-weight -> font-size -> font-family
            */
}

h4 {
    font: bolder 1.2em var(--fonte-titulo);
    color: var(--cor0);
}

li {
    color: var(--cor0);
    font-style: normal;
}

.destaque {
    color: var(--cor2);
}


abbr, .italico {
    text-decoration: none;
    font-style: italic;
}

abbr:hover {
    background-color: var(--cor0);
    color: var(--cor4);
    border-radius: 5px 0px 5px 0px;
}

.link-portfolio {
    color: var(--cor2);
}

.form-titulo {
    color: var(--cor2);
}


#experiencia {
    background-color: #5c5f46;
    border-radius: 8px;
}

#foto-impacta {
    padding: 1px;
    margin: 1px;
}

button {
    padding: 3px;
    margin: 3px;
    background-color: #aba9bf00;
    border: none;
    font: bolder 1em var(--fonte-menu);
    color: var(--cor2);
}

button:hover {
    color: var(--cor0);
}


button:active {             
    transform: scale(0.95); /* Dá um efeito de "apertar" o botão */
    color: var(--cor1);
}

.Sobre2 {
    text-indent: 20px;
}

div {
    text-align: center;
}

