@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjord+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #aba9bf62;
    padding: 3px;
    margin: 10px;
}

header, footer {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    font: 1em 'Fjord One';
    color: #4E598C;
    text-align: justify;

}

a {
    color: #4E598C;
    text-decoration: none;
}

h1, h2 {
    /* shorthand font
            - font-style -> font-weight -> font-size -> font-family
            */
    font: bolder 2em 'Josefin Sans';
    color: #373D20;
    text-align: center;
}


h3, h4 {
    font: bolder 1.3em 'Domine';
    color: #5c5f46;
/* shorthand font
            - font-style -> font-weight -> font-size -> font-family
            */
}

.lista {
    font-style: normal;
}

li {
    font-style: italic;
    color: #6b6850;
}

abbr {
    text-decoration: none;
}

.link-portfolio {
    color: #4E598C;
}

.form-titulo {
    color: #2d311a;
}

.imagem-gabriel {
    
    margin: 95px;
 }

#experiencia {
    background-color: #5c5f46;
    border-radius: 8px;
}

#foto-impacta {
    padding: 1px;
    margin: 1px;
}

button {
    padding: 3px;
    margin: 3px;
    background-color: #aba9bf00;
    border: none;
    font: bolder 1em 'Domine';
}

button:active {             
    transform: scale(0.95); /* Dá um efeito de "apertar" o botão */
}
