@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

:root {
    --cor0: #32408C;
    --cor1: #46547e;
    --cor2: #D5E5F2;
    --cor3: #899FCE;

    --fonte-paragrafo: 'Ledger', serif;
}

body {
    background-color: var(--cor0);
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

header button {
    background-color: var(--cor0);
    border: 0px;
    font-size: 1.1em;
    margin: 2px;
    padding: 2px;
}

button:active {
    transform: scale(0.95);
}

header a {
    text-decoration: none;
    color: var(--cor2);
    
}

header a:hover {
    font-weight: bold;
}

header a:active {
    color: var(--cor3);
}

header > nav {
    margin: 4px;
    padding: 2px;
    text-align: center;
}

#foto-impacta {
    padding: 1px;
    margin: 1px;
}


/* MAIN */

main {
    background-color: var(--cor3);
    border-radius: 8px;
    padding: 12px;
    margin: 4px;

}

main h1, h2 {
    color: var(--cor0);
}


main abbr {
    text-decoration: none;  
}

#Grupo abbr:hover {
    border-radius: 5px 0px 5px 0px;
    padding: 1.5px;
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: bold;
}

#Projeto abbr:hover {
    border-radius: 2px 4px;
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: bold;
    border-radius: 5px 0px 5px 0px;
    padding: 1.5px;
}

#Requisitos abbr {
    color: var(--cor0);
}

main p {
    font-family: var(--fonte-paragrafo);
    color: var(--cor1);
}

main a {
    text-decoration: none;
    color: var(--cor1);
}

main a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: var(--cor2);
}

main a:active {
    color: var(--cor1);
}

main li {
    color: var(--cor1);
    line-height: 1.2em;
}

main span {
    color: var(--cor0);
}



/* FOOTER */

footer > aside {
    text-align: center;
    color: var(--cor2);
}

footer a {
    text-decoration: none;
    color: var(--cor2);
}

footer a:hover {
    font-weight: bold;
    
}

footer a:active {
    color: var(--cor1);
}

footer > aside > button{
    background-color: var(--cor4);
    border: none;
    padding: 6px;
}

