@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

:root {
    --cor0: #32408C;
    --cor1: #697FBF;
    --cor2: #D5E5F2;
    --cor3: #899FCE;

    --fonte-paragrafo: 'Ledger', serif;
}

body {
    background-color: var(--cor0);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

header button {
    background-color: var(--cor0);
    border: 0px;
    font-size: 1.1em;
    margin: 2px;
    padding: 2px;
}

header button:active {
    transform: scale(0.95);
}

header a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}

header a:hover {
    color: var(--cor3);
}

header a:active {
    color: var(--cor1);
}

header > nav {
    margin: 4px;
    padding: 2px;
    text-align: center;
}

#foto-impacta {
    padding: 1px;
    margin: 1px;
}

main {
    background-color: var(--cor3);
    border-radius: 8px;
    padding: 12px;
    margin: 4px;

}

main h1, h2 {
    color: var(--cor0);
}


main abbr {
    text-decoration: none;  
}

#Grupo abbr:hover {
    border-radius: 2px 4px;
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: bold;
}

#Projeto abbr:hover {
    border-radius: 2px 4px;
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: bold;
}

main p {
    font-family: var(--fonte-paragrafo);
    color: var(--cor0);
}






footer > aside {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}



