/* Reset de todos os elementos para um estado básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  text-decoration: none;
  list-style: none;
}
